#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #212222;
  position: relative;
  padding: 2rem;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.form {
  margin: 0 auto;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  position: relative;
  background-color: #212222;
}

#root::after, #root::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 70%, #8c00fc, #3500ff, #01fe01, #fffe37, #ff8600, #ed0003, #8c00fc);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 2s spin linear infinite;
}

#root::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from{
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
